$font-stack:    Helvetica, sans-serif
$primary-color: #333
$secondary-color: #EEE

body
  font: 100% $font-stack
  color: $primary-color



nav
  width: 100%
  background-color: $primary-color
  color: $secondary-color
